body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
}

h1 {
  text-align: center;
  padding: 20px;
  background-color: #fc0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#pokemonList {
  width: 70%;
}

#cart {
  width: 28%;
}

ul#pokemonList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

ul#pokemonList li {
  width: 200px;
  margin: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

ul#pokemonList li img {
  max-width: 100px;
  max-height: 100px;
  margin: 10px auto;
  display: block;
}

ul#pokemonList li h2 {
  font-size: 1.2em;
  color: #333;
}

ul#pokemon li p {
  font-size: 0.8em;
  color: #666;
}

#cart {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 20px auto;
  max-width: 300px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#cart h2 {
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#cart ul {
  list-style: none;
  padding: 0;
}

#cart li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

/* APAGAR */
#cart li span {
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#cart button {
  background-color: #fc0;
  border: none;
  border-radius: 5px;
  color: #333;
  cursor: pointer;
  padding: 5px 10px;
}

#cart button:hover {
  background-color: #f90;
}

#cart ul li button.remove-button {
  margin: 2px 2px;
  background-color: #f00;
  color: #fff;
}
